body,
* {
  box-sizing: border-box;
  margin: 0;
}
a{
  text-decoration: none;
  
}
.header {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.header-background {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #211b15;
}

.header-logo {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-subtitle {
  color: #fbfbfb;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 24px;
}

.header-logo-title {
  color: #fbfbfb;
  font-family: Georgia;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1.8px;
  line-height: 36px;
}

.header-information {
  color: #ffffff;
  font-family: Georgia;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-wrap: wrap;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  color: #fbfbfb;
  font-family: Georgia;
  font-size: 60px;
  font-weight: 700;
  line-height: 24px;
  /* Text style for "Воздушные" */
  letter-spacing: 3px;
}

.balls {
  background: url(../img/balls.jpg)center center no-repeat;
  width: 52%;
  height: 600px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  position: relative;
  overflow:hidden;  
}
.balls-img{
  background: url(../img/instagram-logo.png)no-repeat;
  width: 40px;
  height: 40px;
  margin:25px 0px 20px 0px;
}
.balls:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);  
  z-index: 1;
  opacity: 0;
  
  transition: all 1s ease;
}
.balls:hover:before{opacity:1;}
.text12{
  display:none;
  transition-duration: .2s;
}
.balls:hover{
  background-size: 130%;
  transition-duration: .2s;
}
.section-main-text,.text12,.balls-img,.balls-text{
  z-index: 2;
  transition-duration: .2s;
}
.balls-text{
  text-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
  color: #fbfbfb;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.balls:hover .text12{
  display:flex;
  flex-direction:column;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}
.jojo{
  width: 48%;
  height: 600px;
  overflow: hidden; 
}
.flowers {
  background: url(../img/flowers.jpg) center center no-repeat;
  width: 100%;
  height: 600px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  
  
  transition: all 1s ease;
}
.pepd{
  opacity: 0;
  font-size:30px;
  transition: all 1s ease;
}
.flowers:hover{
  transform: scale(1.3);
}
.flowers:hover .pepd{
  opacity: 1;
}
.sweets {
  background: url(../img/sweets.jpg) center center no-repeat;
  width: 44%;
  height: 719px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.block{
  width: 56%;
  height: 719px;
  display:flex;
  flex-direction:column;
}
.gifts {
  background: url(../img/gifts.jpg) center center no-repeat;
  width: 100%;
  height: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.animators {
  background: url(../img/animators.jpg) center center no-repeat;
  width: 100%;
  height: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */