body,
* {
  box-sizing: border-box;
  margin: 0;
}
a{
  text-decoration: none;
  
}
.header {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.header-background {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #211b15;
}

.header-logo {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-subtitle {
  color: #fbfbfb;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 24px;
}

.header-logo-title {
  color: #fbfbfb;
  font-family: Georgia;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1.8px;
  line-height: 36px;
}

.header-information {
  color: #ffffff;
  font-family: Georgia;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-wrap: wrap;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  color: #fbfbfb;
  font-family: Georgia;
  font-size: 60px;
  font-weight: 700;
  line-height: 24px;
  /* Text style for "Воздушные" */
  letter-spacing: 3px;
}

.balls {
  width: 52%;
  height: 600px;
  position: relative;
  overflow:hidden;  
}
.block-image{
  position: relative;
    width: 100%;
    height: 100%;
    transition:all 1s ease;
}
.block-img{
  background: url(../img/instagram-logo.png)no-repeat;
  width: 40px;
  height: 40px;
  margin:25px 0px 20px 0px;
}
.balls:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);  
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.balls:hover:before{
  opacity:1;
}
.off-text{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position:absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  display:flex;
  align-items: center;
  flex-direction:column;
  z-index:2;
}
.balls:hover .block-text,.balls:hover .block-img{
  opacity: 1;
}
.balls:hover .section-main-text{
  padding: 0;
  margin-bottom:20px;
}
.balls:hover .block-image{
  transform:scale(1.3);
}
.balls:hover .off-text{
  justify-content: center;
}
.section-main-text,.block-img,.block-text{
  z-index: 2;
  transition-duration: .2s;
}
.section-main-text{
    padding-top:286px;
    transition:all 1s ease;
}
.block-text{
  text-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
  color: #fbfbfb;
  font-family: Georgia;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.block-border{
  border-bottom: solid 2px #ffffff;
}
.block-img,.block-text{
  transition:all 1s ease;
  opacity:0;
}
.block-text:first-child{
  margin-top: 20px;
}
.flowers {
  width: 48%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.flowers:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);  
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.flowers:hover:before{
  opacity:1;
}
.flowers:hover .block-text,.flowers:hover .block-img,.flowers:hover .block-border{
  opacity: 1;
}
.flowers:hover .section-main-text{
  padding: 0;
  margin-bottom:20px;
}
.flowers:hover .block-image{
  transform:scale(1.3);
}
.flowers:hover .off-text{
  justify-content: center;
}
.sweets {
  width: 44%;
  height: 719px;
  position: relative;
  overflow: hidden;
}
.sweets .section-main-text{
  padding-top: 50%;
}
.sweets:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);  
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.sweets .section-main-text{
  display:flex;
  justify-content: center;
  flex-direction:column;
}
.center{
  display:flex;
  justify-content: center;
}
.sweets:hover:before{
  opacity:1;
}
.sweets:hover .block-text,.sweets:hover .block-img,.sweets:hover .block-border{
  opacity: 1;
}
.sweets:hover .section-main-text{
  padding: 0;
  margin-bottom:20px;
}
.sweets:hover .block-image{
  transform:scale(1.3);
}
.sweets:hover .off-text{
  justify-content: center;
}
.block{
  width: 56%;
  height: 719px;
  display:flex;
  flex-direction:column;
}
.gifts .section-main-text,.animators .section-main-text{
  padding-top: 20%;
}
.gifts {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
}
.gifts:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);  
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.gifts:hover:before{
  opacity:1;
}
.gifts:hover .block-text,.gifts:hover .block-img,.gifts:hover .block-border{
  opacity: 1;
}
.gifts:hover .section-main-text{
  padding: 0;
  margin-bottom:20px;
}
.gifts:hover .block-image{
  transform:scale(1.3);
}
.gifts:hover .off-text{
  justify-content: center;
}
.animators {
  width: 100%;
  height: 359px;
  position: relative;
  overflow: hidden;
}
.animators:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);  
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}
.animators:hover:before{
  opacity:1;
}
.animators:hover .block-text,.animators:hover .block-img,.animators:hover .block-border{
  opacity: 1;
}
.animators:hover .section-main-text{
  padding: 0;
  margin-bottom:20px;
}
.animators:hover .block-image{
  transform:scale(1.3);
}
.animators:hover .off-text{
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */